<template>
  <div>
    <nuxt-content :document="pageContent" />
  </div>
</template>

<script>
export default {
  props: {
    pageContent: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      scrollOptions: {
        duration: 1000,
        offset: 0,
        easing: 'easeInOutCubic'
      }
    }
  },
  methods: {
    externalLink (linkURL) {
      window.open(linkURL, '_blank') // to open in new tab
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/main.css';

:deep(img) {
  position: relative;
  margin: 0, auto;
  max-height: 600px;
  max-width: 120%;
  margin-top: 1em;
  margin-bottom: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: rgba(33,33,33,.2) 0 7px 28px;
}

:deep(.image-caption)  {
  position: relative;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 20;
  margin-top: 0;
  margin-bottom: 1.5em;
}

:deep(img[src$=".gif"]) {
  max-height: 400px;
}

:deep(p.blocktext) {
  margin-left: auto;
  margin-right: auto;
}
:deep(.table-of-contents) {
  width: auto;
  background: #eee;
  font-size: 1.2em;
  font-weight: 500;
  padding: 2em 2em;
  margin: 2em 0 2em 0em;
  box-shadow: rgba(33,33,33,.2) 0 7px 20px;
}
:deep(.table-of-contents ol>li) {
  margin: .6em 0 .6em 0;
}
:deep(.table-of-contents ol) {
  margin-top: 1.0em;
}

:deep(ul) {
  margin: 1em 0 1em 0;
}

$red: rgb(225, 113, 253);
$brown: #695750;
$whitey: #f0f0f0;
$green: #7cda80;
$blue: #8fd3f4;
$black: #000000;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

:deep(a) {
  text-decoration: none;
  background-image: linear-gradient(120deg, $black 0%, $brown 100%);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .25s;
}

:deep(a:hover, a:focus) {
    background-size: 100% 2px;
}

:deep(.underline--magical) {
  font-weight: 300;
  font-size: 3rem;
  padding: 1rem 1rem;
  margin: 2rem 0 2rem 0;
  color: #000;
  line-height: 1em;
  background-image: linear-gradient(120deg, $black 0%, $brown 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 88%;
  transition: all 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
    color: #fff;
  }
}

:deep(ul) {
  list-style: none;
}

:deep(ul li::before) {
  content: "\0020";
  margin-right: 1em;
  padding-top: 1em;
  margin-top: 0.5rem;
  background-image: linear-gradient(45deg, $green 0%, $blue 100%);
  color: white;
  border-radius: 30%;
  width: 1.4rem;
  height: 1.4rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

:deep(hr) {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 0.05em 0.05em;
  color: #000;
  border-color: rgba(0,0,0,0);
  opacity: 0.5;

  background-image: linear-gradient(120deg, $red 0%, $blue 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  transition: all 0.25s ease-in;
}

$atom-one-dark: ("bg": #282c34, "col": #abb2bf);

$style: $atom-one-dark;

// ::v-deep pre code {
//   // background: map-get($style, "bg");
//   // color: map-get($style, "col");
//   background-color: rgba(0, 0, 0, 0);
//   display: run-in;
//   width: 100%;
//   max-width: 100%;
//   white-space: inherit;
//   margin-top: 1em;
//   margin-bottom: 1em;
// }

// ::v-deep code::before {
//   content: "";
// }

// Tables
:deep(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

:deep(td, th) {
  border: 1px solid transparent;
  transition: all 0.3s;
}

:deep(td, th) {
  max-height: 50px;
}

:deep(th) {
  background: #E0E0E0;
  font-weight: bold;
}

:deep(td) {
  background: #FAFAFA;
  text-align: center;
}

:deep(tr:nth-child(even) td) {
  background: #F1F1F1;
}

:deep(tr:nth-child(odd) td) {
  background: #FEFEFE;
}

</style>
