<template>
  <!-- <span>
    <v-text-field
      v-model="searchQuery"
      clearable
      dense
      filled
      prepend-inner-icon="mdi-magnify"
      class="expanding-search"
      :class="{ 'closed': searchClosed }"
      @focus="searchClosed = false"
      @blur="searchClosed = true"
    >
    </v-text-field>
    <template v-if="searchQuery">
      <v-list-item v-for="post of searchedArticles" :key="post.post_title">
        <v-list-item-content>
          <v-list-item-title>
            {{ post.post_title }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </span> -->
  <v-autocomplete
    :items="searchedArticles"
    :search-input.sync="searchQuery"
    class="expanding-search"
    :class="{ 'closed': searchClosed }"
    flat
    hide-no-data
    hide-details
    prepend-inner-icon="mdi-magnify"
    item-text="post_title"
    item-value="post_title"
    @focus="searchClosed = false"
    @blur="searchClosed = true"
  >
    <template #item="post">
      <v-list-item :to="`${post.item.dir}/${post.item.slug}`" nuxt>
        <v-list-item-avatar>
          <img :src="post.item.hero">
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{ post.item.post_title }}</v-list-item-title>
          <!-- <v-list-item-subtitle v-html="data.item.group"></v-list-item-subtitle> -->
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>

<script>
import Utils from '~/assets/utils'

export default {
  data () {
    return {
      searchClosed: true,
      searchedArticles: [],
      searchQuery: ''
    }
  },
  watch: {
    async searchQuery (query) {
      this.searchedArticles = await Utils.searchArticlesByQuery(query, this.$content, ['post_title', 'project_title', 'project_desc', 'excerpt_desc', 'hero', 'dir', 'slug'], 'posts', [])
      // console.log(this.searchedArticles)
    }
  }
}
</script>

<style lang="sass">
  .v-input.expanding-search
    transition: max-width 0.4s
    .v-input__slot
      &:before, &:after
        border-color: transparent !important
    &.closed
      max-width: 40px !important
      .v-input__slot
        background: transparent !important
</style>
