<template>
  <v-card
    v-scroll-reveal="{ delay: 250, duration: 1000, origin: 'bottom', distance: '10%'}"
    elevation="1"
    width="100%"
    max-width="900"
    class="mx-auto"
  >
    <v-card-text
      :class="{ 'introFontLg': $vuetify.breakpoint.lgAndUp,
                'introFontRegular': $vuetify.breakpoint.mdOnly,
                'introFontSm': $vuetify.breakpoint.smAndDown }"
    >
      <p class="font-weight-light">
        This website is my personal contact card and portfolio of projects that I have worked on.
      </p>
      <p class="font-weight-light">
        I am excited about the potential of artificial intelligence in its applications to robotics, healthcare, and beyond.
      </p>
      <p class="font-weight-light">
        Right now, I am studying for my PhD at the <a href="https://www.gla.ac.uk/schools/psychologyneuroscience/research/ccni/">Centre for Cognitive Neuroimaging</a> (CCNi)! I look forward to updating my site with more information about my projects as I continue to work.
      </p>
      <!-- <v-list disabled>
        <v-list-item
          v-for="(item, i) in interests"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title
              class="text-wrap"
              v-text="item.text"
            />
          </v-list-item-content>
        </v-list-item>
      </v-list> -->
      <p class="font-weight-light">
        For more information about my professional/academic experience, please take a look at my <a :href="cv">CV</a> or <a :href="resume">resume</a>.
      </p>
    </v-card-text>
    <v-card-actions>
      <v-layout
        align-center
        justify-center
        row
        fill-height
      >
        <v-btn
          v-for="nav in navs"
          :key="nav._id"
          :small="$vuetify.breakpoint.xsOnly"
          :color="nav.color"
          class="mb-4"
          outlined
          tile
          :class="{ 'mx-4': $vuetify.breakpoint.smAndUp, 'mx-2': $vuetify.breakpoint.xsOnly }"
          :to="nav.url"
          @click="nav.clickFunction"
        >
          <v-icon v-text="nav.icon" />
          {{ nav.text }}
        </v-btn>
      </v-layout>
    </v-card-actions>
    <v-divider />
    <v-card-title>
      Contact Me:
    </v-card-title>
    <v-card-actions>
      <v-layout
        align-center
        row
        fill-height
        class="mb-4 mx-4"
      >
        <template
          v-for="(social, i) in socials"
        >
          <v-btn
            v-if="social.url"
            :key="i"
            :small="$vuetify.breakpoint.smAndDown"
            outlined
            fab
            :href="social.url"
            :color="social.color"
            class="mx-2"
          >
            <v-icon v-text="social.icon" />
          </v-btn>
          <v-tooltip
            v-else-if="social.emailName"
            :key="i"
            :right="$vuetify.breakpoint.mdAndUp"
            :bottom="$vuetify.breakpoint.smAndDown"
          >
            <template #activator="{ on }">
              <v-btn
                fab
                outlined
                dark
                :small="$vuetify.breakpoint.smAndDown"
                color="red"
                class="mx-2"
                :data-name="social.emailName"
                :data-domain="social.emailDomain"
                :data-tld="social.emailTld"
                href="#"
                onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false"
                v-on="on"
              >
                <v-icon>mdi-email</v-icon>
              </v-btn>
            </template>
            <span
              :data-name="social.emailName"
              :data-domain="social.emailDomain"
              :data-tld="social.emailTld"
              href="#"
              class="cryptedmail"
              onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false"
            />
          </v-tooltip>
        </template>
      </v-layout>
    </v-card-actions>
  </v-card>
</template>

<script>
import Social from '~/assets/social.js'

export default {
  props: {
  },
  data () {
    return {
      interests: [
        { text: 'Web Development & UI Design', icon: 'mdi-television-guide' },
        { text: 'Machine Learning', icon: 'mdi-state-machine' },
        { text: 'Robotics', icon: 'mdi-robot-industrial' },
        // { text: 'CAD Modeling', icon: 'mdi-printer-3d' },
        { text: 'Computer Vision', icon: 'mdi-webcam' }
        // { text: 'OpenGL & GLSL Shaders', icon: 'mdi-checkerboard' }
      ],
      navs: [
        // {
        //   text: 'Resume',
        //   icon: 'mdi-file-account',
        //   color: 'rgba(26, 26, 26, 0.80)',
        //   clickFunction: function readFile () {
        //     window.open(Social.resume, '_blank') // to open in new tab
        //   }
        // },
        { text: 'Projects', icon: 'mdi-wrench', url: '/posts/projects', color: 'rgba(26, 26, 26, 0.8)' },
        { text: 'About Me', icon: 'mdi-account-tie', url: '/about', color: 'rgba(26, 26, 26, 0.8)' }
      ],
      socials: Social.socials,
      resume: Social.resume,
      cv: Social.cv
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';
.introFontSm {
  font-size: 0.9rem;
  line-height: 150%;
}

.introFontRegular {
  font-size: 1.1rem;
  line-height: 150%;
}

.introFontLg {
  font-size: 1.2rem;
  line-height: 150%;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

</style>
