<template>
  <span>
    <v-btn
      v-if="!nav.subnav"
      text
      exact-path
      outlined
      depressed
      :to="nav.url"
      class="mx-2 cursiveNavBtn"
      @click="nav.clickFunction"
    >
      {{ nav.text }}
    </v-btn>
    <v-menu
      v-else-if="!nav.dial"
      open-on-hover
      bottom
      offset-y
    >
      <template #activator="{ on }">
        <v-btn
          text
          exact-path
          outlined
          depressed
          :to="nav.url"
          class="mx-2 cursiveNavBtn"
          v-on="on"
          @click="nav.clickFunction"
        >
          {{ nav.text }}
        </v-btn>
      </template>

      <v-list>
        <v-list-item
          v-for="(item, index) in nav.subnav"
          :key="index"
          :to="item.url"
          exact-path
          @click="item.clickFunction"
        >
          <!-- <v-icon v-if="icons" small v-text="item.icon" /> -->
          <span class="pl-1">{{ item.text }}</span>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-speed-dial
      v-else
      v-model="fab"
      direction="bottom"
      open-on-hover
    >
      <template #activator>
        <v-btn
          v-model="fab"
          text
          exact-path
          outlined
          depressed
          class="mx-2 cursiveNavBtn"
          @click="nav.clickFunction"
        >
          {{ nav.text }}
        </v-btn>
      </template>
      <template
        v-for="(item, index) in nav.subnav"
      >
        <v-btn
          v-if="item.url"
          :key="index"
          fab
          dark
          small
          :color="item.color"
          :href="item.url"
          @click="item.clickFunction"
        >
          <v-icon v-text="item.icon" />
        </v-btn>
        <v-tooltip
          v-else-if="item.emailName"
          :key="index"
          right
        >
          <template #activator="{ on }">
            <v-btn
              fab
              dark
              small
              color="red"
              :data-name="item.emailName"
              :data-domain="item.emailDomain"
              :data-tld="item.emailTld"
              href="#"
              onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false"
              v-on="on"
            >
              <v-icon>mdi-email</v-icon>
            </v-btn>
          </template>
          <span
            :data-name="item.emailName"
            :data-domain="item.emailDomain"
            :data-tld="item.emailTld"
            href="#"
            class="cryptedmail"
            onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false"
          />
        </v-tooltip>
      </template>
    </v-speed-dial>
  </span>
</template>

<script>

export default {
  props: {
    nav: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      fab: false
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
</style>
