<template>
  <span>
    <v-list-item
      v-if="!nav.subnav"
      :to="nav.url"
      @click="nav.clickFunction"
    >
      <v-list-item-title class="cursiveNavItem" v-text="nav.text" />
    </v-list-item>
    <v-list-group
      v-else
      v-model="active"
      :prepend-icon="nav.icon"
      no-action
    >
      <template #activator>
        <v-list-item-content>
          <v-list-item-title class="cursiveNavItem" v-text="nav.text" />
        </v-list-item-content>
      </template>

      <template v-for="(item, index) in nav.subnav">
        <v-list-item
          v-if="item.url && !item.external"
          :key="index"
          :to="item.url"
          @click="item.clickFunction"
        >
          <v-list-item-title class="cursiveNavItem" v-text="item.text" />
          <v-list-item-action v-if="item.icon">
            <v-icon v-text="item.icon" />
          </v-list-item-action>
        </v-list-item>
        <v-list-item
          v-else-if="item.url && item.external"
          :key="index"
          :href="item.url"
          @click="item.clickFunction"
        >
          <v-list-item-title v-text="item.text" />
          <v-list-item-action v-if="item.icon">
            <v-icon v-text="item.icon" />
          </v-list-item-action>
        </v-list-item>
        <v-list-item
          v-else-if="item.emailName"
          :key="index"
          :data-name="item.emailName"
          :data-domain="item.emailDomain"
          :data-tld="item.emailTld"
          href="#"
          onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false"
        >
          <v-list-item-title
            :data-name="item.emailName"
            :data-domain="item.emailDomain"
            :data-tld="item.emailTld"
            class="cryptedmail"
            href="#"
          />
          <v-list-item-action>
            <v-icon>mdi-email</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-list-item
          v-else
          :key="index"
          exact
          @click="item.clickFunction"
        >
          <v-list-item-title class="cursiveNavItem" v-text="item.text" />
          <v-list-item-action v-if="item.icon">
            <v-icon v-text="item.icon" />
          </v-list-item-action>
        </v-list-item>
      </template>
    </v-list-group>
  </span>
</template>

<script>

export default {
  props: {
    nav: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      fab: false,
      active: false
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
</style>
