<template>
  <v-container
    :key="$route.params.post"
    class="fill-height justify-center pageContainer"
    fluid
  >
    <v-row align="center" justify="center">
      <v-col xs="12">
        <v-parallax
          v-if="$vuetify.breakpoint.mdAndUp"
          :src="content.attributes.hero"
          height="400"
        />
        <v-img
          v-else
          class="align-center"
          :src="content.attributes.hero"
          height="250"
        />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center" class="pt-6">
      <v-col cols="auto" xs="12" justify="start" class="center-col">
        <h4 class="subtitle-1">
          <span> {{ prettifyDate(content.attributes.date) }} </span>
          <template v-if="commentsEnabled">
            <span>&nbsp;-&nbsp;</span>
            <span><a :href="`${canonicalURL}#disqus_thread`" /></span>
          </template>
        </h4>
        <h1
          class="my-4"
          :class="{ 'headline': $vuetify.breakpoint.xsOnly,
                    'display-1': $vuetify.breakpoint.smOnly,
                    'display-2': $vuetify.breakpoint.mdAndUp }"
        >
          <span v-if="content.attributes.post_title">
            {{ content.attributes.post_title }}
          </span>
          <span v-else-if="content.attributes.project_title">
            {{ content.attributes.project_title }}
          </span>
        </h1>
        <h4
          v-if="content.attributes.excerpt_desc"
          class="subtitle-1 font-weight-light mb-4"
        >
          {{ content.attributes.excerpt_desc }}
        </h4>
        <h4
          v-else-if="content.attributes.project_desc"
          class="subtitle-1 font-weight-light mb-4"
        >
          {{ content.attributes.project_desc }}
        </h4>
        <v-divider />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" class="main-text">
        <dynamic-markdown
          class="main-text font-weight-regular"
          :class="{ 'body-2': $vuetify.breakpoint.xsOnly,
                    'body-1': $vuetify.breakpoint.smOnly,
                    'title': $vuetify.breakpoint.mdAndUp }"
          :name="post"
        />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" class="center-col my-10">
        <v-divider />
      </v-col>
    </v-row>
    <v-row v-if="commentsEnabled" xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" class="main-text">
        <Disqus shortname="austindibble" :identifier="content.attributes.id" :url="canonicalURL" :title="title" />
      </v-col>
    </v-row>
    <!-- <script id="dsq-count-scr" src="//austindibble.disqus.com/count.js" async /> -->
  </v-container>
</template>

<script>
import Utils from '~/assets/utils.js'
import DynamicMarkdown from '~/components/DynamicMarkdown.vue'
import Head from '~/assets/head.js'

export default {
  components: {
    DynamicMarkdown
  },
  mixins: [Head.titleMixin],
  props: {
    paramsPath: {
      default: '',
      type: String
    },
    routePath: {
      default: '',
      type: String
    },
    pageContent: {
      default () {},
      type: Object
    }
  },
  data () {
    const content = this.pageContent

    if (!content.attributes.id) {
      content.attributes.id = `${Utils.domain}${this.routePath}`
    }

    return {
      content,
      domain: Utils.domain,
      canonicalURL: `${Utils.domain}${this.routePath}`,
      post: `posts/${this.paramsPath}`,
      title: content.attributes.post_title || content.attributes.project_title,
      sharingImage: `${Utils.domain}${content.attributes.hero.substr(2)}`,
      description: `${content.attributes.project_desc || content.attributes.excerpt_desc || ''}`,
      commentsEnabled: !content.attributes.no_comments && (!content.attributes.unlisted_post || content.attributes.project_link)
    }
  },
  methods: {
    prettifyDate (date) {
      return Utils.prettifyDate(date)
    },
    externalLink (linkURL) {
      window.open(linkURL, '_blank') // to open in new tab
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';

.center-col {
  width: 100%;
  max-width: 900px;
}

.main-text {
  width: 100%;
  max-width: 850px;
}

</style>
