<template>
  <v-container
    class="fill-height justify-center pageContainer"
    fluid
  >
    <v-row align="center" justify="center">
      <v-col xs="12">
        <v-parallax
          v-if="$vuetify.breakpoint.mdAndUp"
          :src="content.hero"
          height="400"
        />
        <v-img
          v-else
          class="align-center"
          :src="content.hero"
          height="250"
        />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center" class="pt-6">
      <v-col cols="auto" xs="12" justify="start" class="center-col">
        <h4 class="subtitle-1">
          <span> Posted: {{ prettifyDate(content.date) }} </span>
          <template v-if="commentsEnabled">
            <span>&nbsp;-&nbsp;</span>
            <span><a :href="`${canonicalURL}#disqus_thread`" /></span>
          </template>
        </h4>
        <h1
          class="my-4"
          :class="{ 'title': $vuetify.breakpoint.xsOnly,
                    'headline': $vuetify.breakpoint.smOnly,
                    'display-1': $vuetify.breakpoint.mdAndUp }"
        >
          <span>
            {{ title }}
          </span>
        </h1>
        <h4
          v-if="content.project_start"
          class="subtitle-1 grey--text"
        >
          {{ prettifyDate(content.project_start) }}&nbsp;-&nbsp;
          <template v-if="content.project_end">
            {{ prettifyDate(content.project_end) }}
          </template>
          <template v-else>
            Present
          </template>
        </h4>
        <h4
          class="subtitle-1 font-weight-light mb-4"
        >
          {{ description }}
        </h4>
        <v-divider />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" class="main-text">
        <dynamic-markdown
          class="main-text font-weight-regular"
          :class="{ 'body-2': $vuetify.breakpoint.xsOnly,
                    'body-1': $vuetify.breakpoint.smOnly,
                    'title': $vuetify.breakpoint.mdAndUp }"
          :page-content="pageContent"
        />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" class="center-col my-10">
        <v-divider />
      </v-col>
    </v-row>
    <v-row v-if="postsPrevNext" xs="12" align="center" justify="center">
      <v-col cols="auto" align="center" justify="center" class="center-col">
        <prev-next-button :prev="postsPrevNext[0]" :next="postsPrevNext[1]" />
      </v-col>
    </v-row>
    <v-row v-if="commentsEnabled" xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" class="center-col">
        <Disqus shortname="austindibble" :identifier="content.id" :url="canonicalURL" :title="title" />
      </v-col>
    </v-row>
    <!-- <script id="dsq-count-scr" src="//austindibble.disqus.com/count.js" async /> -->
  </v-container>
</template>

<script>
import Utils from '~/assets/utils.js'
import DynamicMarkdown from '~/components/DynamicMarkdown.vue'
import Head from '~/assets/head.js'

export default {
  components: {
    DynamicMarkdown
  },
  mixins: [Head.titleMixin],
  props: {
    routePath: {
      default: '',
      type: String
    },
    pageContent: {
      default () {},
      type: Object
    },
    postsList: {
      default: () => [],
      type: Array
    },
    postsPrevNext: {
      default: () => [],
      type: Array
    }
  },
  data () {
    return {
      content: this.pageContent,
      domain: Utils.domain,
      canonicalURL: `${Utils.domain}${this.routePath}`,
      title: this.pageContent.post_title || this.pageContent.project_title,
      sharingImage: `${Utils.domain}${this.pageContent.hero.substr(2)}`,
      description: `${this.pageContent.project_desc || this.pageContent.excerpt_desc || ''}`,
      commentsEnabled: !this.pageContent.no_comments && (!this.pageContent.unlisted_post || this.pageContent.project_link)
    }
  },
  methods: {
    prettifyDate (date) {
      return Utils.prettifyDate(date)
    },
    externalLink (linkURL) {
      window.open(linkURL, '_blank') // to open in new tab
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';
.center-col {
  width: 100%;
  max-width: 900px;
}

.main-text {
  width: 100%;
  max-width: 850px;
}

</style>
