
.page-enter-active, .page-leave-active {
  transition: opacity .75s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.pageContainer {
  max-width: 1200px;
  background-color: whitesmoke;
  width: 100%;
}

.pageTitleSm {
  font-size: 2rem;
  line-height: 150%;
}

.pageTitleMd {
  font-size: 2.4rem;
  line-height: 150%;
}

.pageTitleLg {
  font-size: 2.8rem;
  line-height: 150%;
}

.cursiveNavBtn {
  font-family: 'Caveat', 'Book Antiqua', cursive;
  font-size: 1.1rem;
}

.cursiveNavItem {
  font-family: 'Caveat', 'Book Antiqua', cursive;
  font-size: 1.5rem;
}

.cursiveText {
  font-family: 'Caveat', 'Book Antiqua', cursive;
}

:deep(code) {
  background: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0) !important;
}

.nuxt-content .nuxt-content-highlight pre[class*="language-"] {
  
  /* Style filename span added by @nuxt/content */
  /* & > .filename {
    @apply absolute right-0 top-0 text-gray-100 z-10 font-mono text-sm tracking-tight leading-none mr-4 mt-3;
  } */

  /* Add top padding to code blocks with filename */
  /* & > .filename + pre[class*="language-"] {
    @apply pt-8;
  } */

  /* Style copy button added in `pages/_.vue` */
  /* & > .copy {
    @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-2 py-2 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

    &:hover {
      @apply bg-gray-700;
    }

    &:focus {
      @apply outline-none bg-gray-600;
    }
  } */
  position: static;
  padding-top: 1.6em;
}

.nuxt-content .nuxt-content-highlight {
  position: relative;
}

.nuxt-content .nuxt-content-highlight > .filename {
  position: absolute; 
  right: 0;
  top: 0;
  z-index: 1;
  margin-right: 10px;
  margin-top: 3px;
  color:#6c727e;
  font-size: smaller;
}

.nuxt-content .nuxt-content-highlight > .copy {
  background-color: #6c727e;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: white;
}

.nuxt-content .nuxt-content-highlight > .copy :hover {
  background-color: #4a5568;
}