<template>
  <v-container
    class="fill-height pageContainer"
    fluid
  >
    <v-row align="center" justify="center">
      <v-col xs="12">
        <v-parallax
          v-if="$vuetify.breakpoint.mdAndUp"
          height="300"
          src="/images/posts/laptop_low.jpg"
        />
        <v-img
          v-else
          class="align-center"
          src="/images/posts/laptop_low.jpg"
          height="250"
        />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="8" justify="start" style="width: 100%; max-width: 900px;">
        <h1
          v-scroll-reveal="{ delay: 0, duration: 1500, origin: 'bottom', distance: '2em' }"
          class="font-weight-regular cursiveText"
          :class="{ 'pageTitleSm': $vuetify.breakpoint.xsOnly,
                    'pageTitleMd': $vuetify.breakpoint.smOnly,
                    'pageTitleLg': $vuetify.breakpoint.mdAndUp }"
        >
          My Posts
        </h1>
        <h1
          v-scroll-reveal="{ delay: 700, duration: 1500, origin: 'right', distance: '2em' }"
          class="font-weight-light"
          :class="{ 'subtitle-1': $vuetify.breakpoint.xsOnly,
                    'title': $vuetify.breakpoint.smOnly,
                    'headline': $vuetify.breakpoint.mdAndUp }"
        >
          See what I've been writing.
        </h1>
        <div
          v-scroll-reveal="{ delay: 1200, duration: 1500 }"
          class="subtitle-1 font-weight-light mt-4"
          :class="{ 'body-2': $vuetify.breakpoint.xsOnly,
                    'subtitle-2': $vuetify.breakpoint.smOnly,
                    'subtitle-1': $vuetify.breakpoint.mdAndUp }"
        >
          <p>
            On this page, you can find any post on any topic that I've written.
          </p>
          <p>
            If you're looking instead for my <b><i>projects</i></b> page, head
            <nuxt-link to="/posts/projects">
              here
            </nuxt-link>.
          </p>
        </div>
      </v-col>
      <v-col cols="auto" xs="4" justify="end" style="width: 100%; max-width: 400px;">
        <div style="max-width: 500px;">
          <v-text-field
            v-model="searchQuery"
            label="Filter"
            outlined
            append-icon="mdi-magnify"
            prepend-icon="mdi-filter-variant"
            dense
            clearable
          />
        </div>
        <!-- <div>
          <v-combobox
            v-model="selectedTags"
            :items="tags"
            chips
            clearable
            label="Select topics"
            multiple
            prepend-icon="mdi-filter-variant"
            solo
            dense
          >
            <template #selection="{ attrs, item, select, selected }">
              <v-chip
                v-bind="attrs"
                :input-value="selected"
                close
                @click="select"
                @click:close="removeActiveTag(item)"
              >
                <strong>{{ item }}</strong>&nbsp;
              </v-chip>
            </template>
          </v-combobox>
        </div> -->
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-container grid-list-xl>
        <v-row>
          <v-col />
          <v-col cols="auto" xs="12" style="width: 100%; max-width: 1000px;">
            <!-- <div class="font-weight-light">
              <span>Filter: &nbsp;</span>
              <span>
              <v-menu bottom offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on="on"
                    v-text="selectedFilter"
                    text
                    outlined
                    color="grey-darken-1"
                  >
                    <v-icon right>mdi-wrench</v-icon>
                  </v-btn>
                </template>

                <v-list
                  min-width="150"
                  dense
                >
                  <v-list-item
                    v-for="(item, i) in typeList"
                    :key="i"
                    @click="setFilter(item)"
                  >
                    <v-list-item-title
                      id="list-item"
                      v-text="item"
                    />
                  </v-list-item>
                </v-list>
              </v-menu>
              </span>
            </div> -->
            <v-layout wrap justify-center align-center>
              <v-flex
                v-for="post in searchedArticles"
                :key="post.post_title"
                style=""
                xs12
                sm8
                md6
              >
                <v-card
                  :elevation="2"
                >
                  <v-img
                    v-if="post.hero"
                    class="white--text align-end"
                    height="200px"
                    style="max-width: 600px;"
                    :src="`${post.hero}`"
                  >
                    <div
                      class="hero-title py-2"
                      :class="{ 'title': $vuetify.breakpoint.lgAndUp,
                                'subtitle-1': $vuetify.breakpoint.mdAndDown}"
                    >
                      {{ post.post_title }}
                    </div>
                  </v-img>
                  <template v-else>
                    <div
                      class="card-title white--text py-2"
                      :class="{ 'title': $vuetify.breakpoint.lgAndUp,
                                'subtitle-1': $vuetify.breakpoint.mdAndDown}"
                    >
                      {{ post.post_title }}
                    </div>
                  </template>
                  <v-card-subtitle
                    v-if="post.date"
                    class="subtitle-2 py-0 my-0"
                  >
                    {{ prettifyDate(post.date) }}
                  </v-card-subtitle>
                  <v-card-text
                    v-if="post.excerpt_desc"
                    id="card-text"
                    class="subtitle-1"
                  >
                    {{ post.excerpt_desc }}
                  </v-card-text>
                  <v-card-text
                    v-else-if="post.project_desc"
                    id="card-text"
                    class="subtitle-1"
                  >
                    {{ post.project_desc }}
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      v-if="post.path"
                      tile
                      outlined
                      :color="post.color"
                      :to="post.path"
                      nuxt
                    >
                      Read More
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-col>
          <v-col />
        </v-row>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import Utils from '~/assets/utils.js'
import Head from '~/assets/head.js'

export default {
  mixins: [Head.titleMixin],
  async asyncData ({ $content }) {
    let allPosts = await $content('posts', { deep: true })
      .only(['post_title', 'dir', 'slug', 'date', 'unlisted_post', 'hero', 'path', 'project_desc', 'excerpt_desc', 'tags'])
      .fetch()

    allPosts.map((post) => {
      if (!post.date) {
        post.date = new Date(0)
      }
      post.color = Utils.getRandColor()
      return post
    })

    allPosts = allPosts.filter(post => !post.unlisted_post && post.post_title)
    allPosts.sort((a, b) => (a.date <= b.date ? 1 : -1))

    const tagSet = new Set()
    for (const post of allPosts) {
      if (!post.tags) { continue }

      for (const tag of post.tags) {
        // Make the first letter of each word an upper case character
        tagSet.add(tag.toLowerCase())
      }
    }

    const tags = Array.from(tagSet).map(tag => tag.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()))

    return {
      tags: Array.from(tags),
      tagSet,
      posts: allPosts,
      searchedArticles: allPosts,
      title: 'My Posts',
      description: 'All of my posts in one place.'
    }
  },
  data () {
    return {
      selectedTags: [],
      searchQuery: '',
      searchedArticles: []
    }
  },
  watch: {
    '$route.query' (q) {
      // this.$router.go()
    },
    async searchQuery (searchQuery) {
      return await this.filterByQuery(searchQuery)
    },
    async selectedTags (tags) {
      if (!tags.length) {
        return await this.filterByQuery(this.searchQuery)
      }

      this.filterByTags(tags)
    }
  },
  methods: {
    // Random color generation from here: http://blog.adamcole.ca/2011/11/simple-javascript-rainbow-color.html
    getRandColor () {
      return Utils.getRandColor()
    },
    prettifyDate (date) {
      return Utils.prettifyDate(date)
    },
    setFilter (filter) {
      this.selectedFilter = filter
      // this.$router.push({
      //   path: this.$route.path,
      //   query: {
      //     t: this.selectedFilter
      //   }
      // })
      // this.$router.push(`${this.$route.path}?t=${filter}`)
      // this.$router.replace({ query: { 'filter': filter }})
    },
    removeActiveTag (tag) {
      this.selectedTags.splice(this.selectedTags.indexOf(tag), 1)
      this.filterByTags(this.selectedTags)
    },
    async filterByQuery (searchQuery) {
      this.searchedArticles = await Utils.searchArticlesByQuery(searchQuery, this.$content, ['post_title', 'project_desc', 'excerpt_desc'], 'posts', this.posts)
    },
    filterByTags (tags) {
      this.tagSet = new Set(tags.map(tag => tag.toLowerCase()))
      // console.log(this.tagSet)

      this.searchedArticles = this.posts.filter((post) => {
        if (!post.tags) { return false }
        let numTagsFound = 0
        for (const tag of post.tags) {
          if (this.tagSet.has(tag.toLowerCase())) { numTagsFound += 1 }
        }
        // console.log(numTagsFound)
        // console.log(this.tagSet.size)
        if (numTagsFound === this.tagSet.size) { return true }
        return false
      })
      // console.log(this.searchedArticles)
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';

.hero {
  filter: brightness(0.5);
}

.hero-title {
  background: #10101050;
  width:100%;
  text-align: center;
  word-wrap: normal;
}

.card-title {
  width:100%;
  text-align: center;
  word-wrap: normal;
}

#card-text {
  overflow-y: auto;
}

.clear-box {
  z-index: 1;
  background: rgb(0.2, 0.2, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

#list-item:first-letter {
  text-transform: capitalize;
}

</style>
