<template>
  <v-app :style="{ background: currBackground }">
    <v-app-bar
      color="base"
      app
      absolute
      flat
      :prominent="!dense"
      :dense="!dense"
      :dark="navImage"
      :src="navImage ? 'images/home/glasgow_tower.jpg' : ''"
    >
      <template v-if="navImage" #img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(115,115,115,0.8), rgba(32,32,32,0.8)"
        />
      </template>
      <template v-if="!dense">
        <v-spacer />
        <v-container class="fill-height align-center justify-center pa-0" style="width: 100%; max-width: 800px;">
          <v-row xs="12" align="center" justify="center">
            <v-col cols="12" xs="12" style="width: 100%;" class="pt-4">
              <v-layout wrap justify-center>
                <v-toolbar-title
                  class="display-1"
                >
                  <nuxt-link
                    class="cursiveText"
                    tag="li"
                    style="cursor: pointer;"
                    to="/"
                  >
                    Austin Dibble
                  </nuxt-link>
                </v-toolbar-title>
              </v-layout>
            </v-col>
          </v-row>
          <v-row align="center" justify="center" class="mt-0">
            <v-col cols="12" xs="12" style="width: 100%;" class="pa-1">
              <v-layout wrap justify-center>
                <nav-button
                  v-for="nav in navList"
                  :key="nav._id"
                  :nav="nav"
                />
                <expanding-search />
              </v-layout>
            </v-col>
          </v-row>
        </v-container>
        <v-spacer />
      </template>
      <template v-else>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <v-spacer />
        <v-toolbar-title
          class="display-1"
        >
          <nuxt-link
            id="my-name"
            class="cursiveText"
            tag="li"
            style="cursor: pointer;"
            to="/"
          >
            Austin Dibble
          </nuxt-link>
        </v-toolbar-title>
        <v-spacer />
      </template>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      temporary
    >
      <v-list
        nav
        dense
      >
        <nav-item
          v-for="nav in navList"
          :key="nav._id"
          :nav="nav"
        />
      </v-list>
    </v-navigation-drawer>
    <v-main style="background-color:white">
      <nuxt />
    </v-main>
    <v-footer
      :absolute="true"
      app
      style="background-color: white;"
    >
      <span>&copy; 2024 Austin Dibble. Built using Nuxt.js and Vuetify.</span>
    </v-footer>
  </v-app>
</template>

<script>

import NavButton from '~/components/NavButton.vue'
import NavItem from '~/components/NavItem.vue'
import Social from '~/assets/social.js'
import Utils from '~/assets/utils.js'
import ExpandingSearch from '~/components/ExpandingSearch.vue'

export default {
  components: {
    NavButton,
    NavItem,
    ExpandingSearch
  },
  data () {
    const navList = [
      {
        text: 'My Work',
        subnav: [
          { text: 'Projects', url: '/posts/projects/', icon: 'mdi-wrench' },
          { text: 'Posts', url: '/posts/', icon: 'mdi-post-outline' }
        ]
      },
      {
        text: 'Resume/CV',
        subnav: Social.resume_docs
      },
      { text: 'About Me', url: '/about/', icon: '' },
      {
        text: 'Contact', dial: true, subnav: Social.socials
      }
    ]

    for (const item of navList) {
      if (!(item.clickFunction)) {
        item.clickFunction = function () {}
      }
      if (item.subnav) {
        for (const subnavItem of item.subnav) {
          if (!(subnavItem.clickFunction)) {
            subnavItem.clickFunction = function () {}
          }
        }
      }
    }

    return {
      navList,
      drawer: false,
      group: null,
      navImage: true
    }
  },
  head () {
    const canonicalUrl = Utils.domain + this.$route.path
    return {
      link: [
        { rel: 'canonical', href: canonicalUrl },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Caveat&display=swap' }
      ],
      meta: [{ property: 'og:url', content: canonicalUrl }]
    }
  },
  computed: {
    currTheme () {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light'
    },
    currBackground () {
      return this.$vuetify.theme.themes[this.currTheme].background
    },
    dense () {
      return this.$vuetify.breakpoint.xsOnly
    }
  },
  watch: {
    group () {
      this.drawer = false
    },
    $route () {
      this.$nuxt.refresh()
    }
  }
}
</script>

<style scoped>
  @import 'assets/main.css';

  v-toolbar {
    max-height: 20px;
  }

  li#my-name {
    list-style: none;
  }

  .ugly-link {
    text-decoration: none;
    color: black;
  }

  .ugly-link:active {
    text-decoration: none;
    color: black;
  }

</style>
