<template>
  <v-container
    fluid
    style="max-width: 1200px;"
  >
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" style="width: 100%; max-width: 900px;">
        <h1
          v-scroll-reveal="{ delay: 0, duration: 1500, origin: 'bottom', distance: '2em' }"
          class="text-center cursiveText"
          :class="{ 'pageTitleSm': $vuetify.breakpoint.xsOnly,
                    'pageTitleMd': $vuetify.breakpoint.smOnly,
                    'pageTitleLg': $vuetify.breakpoint.mdAndUp }"
        >
          About Me
        </h1>
        <v-divider />
      </v-col>
    </v-row>
    <v-container
      fluid
      grid-list-xl
      fill-height
    >
      <v-layout wrap justify-center align-center>
        <v-flex
          xs12
          sm6
          class="flex-margin"
        >
          <v-img
            id="prof-img"
            class="align-center inline-image"
            :src="pictures[0]"
          />
        </v-flex>
        <v-flex
          xs12
          sm6
          class="flex-margin"
        >
          <v-card
            color="transparent"
            :elevation="1"
            class="px-8"
          >
            <dynamic-markdown
              class="about-text px-2 pt-2"
              :page-content="about1"
            />
          </v-card>
        </v-flex>
        <v-flex
          xs12
          sm6
          class="d-flex d-sm-none flex-margin"
        >
          <v-img
            lazy
            class="align-center inline-image"
            :src="pictures[1]"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
import Utils from '~/assets/utils.js'
import DynamicMarkdown from '~/components/DynamicMarkdown.vue'
import Social from '~/assets/social.js'
import Head from '~/assets/head.js'

export default {
  components: {
    DynamicMarkdown
  },
  mixins: [Head.titleMixin],
  async asyncData ({ $content, params }) {
    const about1 = await $content('about1').fetch()
    const about2 = await $content('about2').fetch()

    return {
      about1,
      about2
    }
  },
  data () {
    return {
      pictures: [
        '/images/about/me_kilt.jpg',
        '/images/about/us_2021_low.jpg'
      ],
      title: 'About Me',
      description: Social.description
    }
  },
  computed: {
    denseTimeline () {
      return this.$vuetify.breakpoint.smAndDown
    }
  },
  methods: {
    // Random color generation from here: http://blog.adamcole.ca/2011/11/simple-javascript-rainbow-color.html
    getRandColor () {
      return Utils.getRandColor()
    },
    getBW (v) {
      v = v * 0.65 + 0.35
      return Utils.bwStop(v)
    },
    prettifyDate (date) {
      return Utils.prettifyDate2(date)
    }
  }
}
</script>

<style>
@import 'assets/main.css';

h3 {
  color: rgb(65, 49, 25);
  font-weight: 300;
  font-family: 'Caveat', 'Book Antiqua', cursive;
  font-size: 1.5rem;
}

.flex-margin {
  margin: 0em;
}

#prof-img {
  max-width: 70%;
}

.inline-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  width:100%;
  text-align:justify;
}

.about-text:after { /* this adds an extra invisible line, so any other line is justified */
  content:'';
  display:inline-block;
  width:100%;
  vertical-align:top;
}
</style>
