<template>
  <v-container
    class="fill-height pa-1 pageContainer"
    fluid
  >
    <v-row
      align="center"
      justify="center"
      class="my-8"
    >
      <v-col
        xs="12"
        md="5"
        class="mx-5"
        align="center"
        justify="center"
      >
        <v-img
          :src="imageURL"
          :height="myHeight"
          :max-width="myWidth"
          class="white--text"
        />
      </v-col>
      <v-col
        xs="12"
        md="5"
        class="ml-5"
        align="center"
        justify="center"
      >
        <v-row align="center" justify="center" class="px-5" style="width: 85%;">
          <v-col align="center" justify="center">
            <h1
              v-scroll-reveal="{ delay: 0, duration: 1000, origin: 'bottom', distance: '3em' }"
              class="text-left font-weight-regular"
              :class="{ 'introFontSm': $vuetify.breakpoint.smAndDown,
                        'introFontRegular': $vuetify.breakpoint.mdAndUp }"
            >
              Welcome!
            </h1>
            <h1
              v-scroll-reveal="{ delay: 500, duration: 1000, origin: 'right', distance: '2em' }"
              class="text-left font-weight-light"
              :class="{ 'introFontSm': $vuetify.breakpoint.smAndDown,
                        'introFontRegular': $vuetify.breakpoint.mdAndUp }"
            >
              My name is Austin.
            </h1>
          </v-col>
        </v-row>
        <v-row align="center" justify="center" class="px-5" style="width: 85%;">
          <v-col align="center" justify="center">
            <h1
              class="text-left"
              :class="{ 'body-1': $vuetify.breakpoint.xsOnly,
                        'title': $vuetify.breakpoint.smOnly,
                        'headline': $vuetify.breakpoint.mdAndUp }"
            >
              <p
                v-scroll-reveal="{ delay: 1000, duration: 1500 }"
                class="font-weight-light"
              >
                I'm a computer engineer
              </p>
              <p
                v-scroll-reveal="{ delay: 1500, duration: 1500 }"
                class="font-weight-light"
              >
                and current PhD student.
              </p>
            </h1>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center" justify="center" class="mb-6">
      <v-col
        xs="12"
      >
        <v-row align="center" justify="center">
          <front-summary-card />
        </v-row>
      </v-col>
    </v-row>
    <!-- <v-row align="center" justify="center">
      <v-col sm="12" class="center-col">
        <v-img
          src="images/home/draw_bot_hello.gif"
          :style="videoStyleObject"
        />
      </v-col>
    </v-row> -->
  </v-container>
</template>

<script>

import Social from '~/assets/social.js'
import Head from '~/assets/head.js'
import FrontSummaryCard from '~/components/FrontSummaryCard.vue'

export default {
  components: {
    FrontSummaryCard
  },
  mixins: [Head.titleMixin],
  data () {
    return {
      buttonAnimation: null,
      videoStyle: { height: '500px' },
      title: 'Home',
      description: Social.description
    }
  },
  computed: {
    imageURL () {
      return 'images/home/me_2021_cropped.jpg'
    },
    parallaxHeight () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 200
        case 'sm':
          return 280
        case 'md':
          return 320
        case 'lg':
        case 'xl':
          return 350
        default:
          return 250
      }
    },
    myHeight () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 350
        case 'sm':
          return 450
        case 'md':
        case 'lg':
        case 'xl':
          return 500
        default:
          return 250
      }
    },
    myWidth () {
      const ratio = 0.8
      return this.myHeight * ratio
    },
    videoStyleObject () {
      const heightObj = { height: 0 }
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          heightObj.height = '180px'
          break
        case 'sm':
          heightObj.height = '200px'
          break
        case 'md':
          heightObj.height = '250px'
          break
        case 'lg':
        case 'xl':
          heightObj.height = '300px'
          break
        default:
          heightObj.height = '400px'
      }
      return heightObj
    }
  },
  mounted () {},
  methods: {
    f () {
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';

.introFontSm {
  font-size: 1.5rem;
}

.introFontRegular {
  font-size: 2rem;
}

.center-col {
  width: 100%;
  max-width: 1200px;
}

.clear-box {
  z-index: 1;
  background: rgb(0.2, 0.2, 0.2);
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.clear-box-content {
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.video-container {
    overflow: hidden;
    position: relative;
}

video, notvideo {
  min-width: 95%;
  min-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

.blurIn {
  animation: blur 5s ease-out;
}

@keyframes blur {
  0% { filter: blur(5px); }
  100% { filter: blur(0px); }
}

.fadeIn {
  animation-name: showup;
  animation-timing-function: linear;
  animation-duration: 3s;
}

.fadeIn:after {
  content: "";
  animation: spin 5s linear;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes spin {
  0% { content:"a computer engineer"; }
  100% { content:"a talented software developer"; }
}

video#bgvideo {
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
top: 50%;
left: 50%;
}

video#embedvideo {
width: auto;
height: auto;
max-width: 100%;
z-index: 0;
}

#parallax {
  z-index: 1;
}

#hero-text {
  z-index: 2;
}

</style>
