<template>
  <v-container
  class="fill-height"
  fluid
  style="max-width: 1400px;"
  >
    <v-row align="center" justify="center">
      <v-col xs="12">
      <v-parallax v-if="$vuetify.breakpoint.mdAndUp" 
        height="250"
        :src="hero"
      >
      </v-parallax>
      <v-img v-else 
        class="align-center" 
        :src="hero" 
        height="250"
      >
      </v-img>
      </v-col>

    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start"  style="width: 100%; max-width: 900px;">
        <h1 class="font-weight-regular"
          v-bind:class="{ 'display-1': $vuetify.breakpoint.xsOnly,
                          'display-2': $vuetify.breakpoint.smOnly,
                          'display-3': $vuetify.breakpoint.mdAndUp }"
          v-scroll-reveal="{ delay: 0, duration: 1500, origin: 'bottom', distance: '2em' }"
        > 
          Resume
        </h1> 
        <!-- <h1 class="font-weight-light"
          v-bind:class="{ 'title': $vuetify.breakpoint.xsOnly,
                          'display-1': $vuetify.breakpoint.smOnly,
                          'display-2': $vuetify.breakpoint.mdAndUp }"
          v-scroll-reveal="{ delay: 700, duration: 1500, origin: 'right', distance: '2em' }"
        > 
          See all my current and past projects.
        </h1> -->
        <div 
          class="font-weight-light mt-4"
          v-bind:class="{ 'body-2': $vuetify.breakpoint.xsOnly,
                'body-1': $vuetify.breakpoint.smOnly,
                'title': $vuetify.breakpoint.mdAndUp }"
          v-scroll-reveal="{ delay: 1200, duration: 1500 }"
        >

        </div>
        <v-divider></v-divider>
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-container grid-list-xl class="pa-0">
        <v-row>
          <v-col></v-col>
          <v-col cols="auto" xs="12" style="width: 100%; max-width: 1200px;">
            
          </v-col>
          <v-col></v-col>
        </v-row>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import Utils from '~/assets/utils.js'

export default {
  data () {
    return {
      hero: 'images/resume/resume_screenshot_blur.jpg'
    }
  },
  async asyncData({query}) {
    return { 

    }
  },
  methods: {
    // Random color generation from here: http://blog.adamcole.ca/2011/11/simple-javascript-rainbow-color.html
    getRandColor () {
      return Utils.getRandColor();
    },
    getBW (v) {
      v = v * 0.65 + 0.35;
      return Utils.bwStop(v);
    },
    prettifyDate(date) {
      return Utils.prettifyDate2(date);
    } 
  },
  computed: {
    denseTimeline () {
      return this.$vuetify.breakpoint.smAndDown;
    }
  }
}
</script>

<style scoped>
.hero {
  filter: brightness(0.5);
}

.hero-title {
   background: #10101070;
   overflow-y: auto;
}

.clear-box {
  z-index: 1;
  background: rgb(0.2, 0.2, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
</style>