<template>
  <v-container
  class="justify-center align-center fill-height page-container"
  fluid
  :key="$route.params.post"
  id="tc"
  >

  </v-container>
</template>

<script>
if (process.client) {
  require('~/static/js/threetest.js');
}

import Head from '~/assets/head.js';

export default {
  mixins: [Head.titleMixin],
  head () {
    return {
      script: [
        { src: 'js/three.js' },
        { src: 'js/postprocessing.min.js' }
      ]
    }
  },
  data () {
    // console.log(this.document.getElementById("tc"));
    return {}
  },
  async asyncData () {
    return {
      title: 'Three.js Demo'
    }
  }
}
</script>

<style scoped>

</style>