<template>
<v-carousel height="500"
    cycle
    hide-delimiter-background
> 
    <v-carousel-item
        v-for="(image, index) in images"
        :key="index"
        cover
    >
        <v-card
            height="100%"
        >
            <v-img :src="image" height="100%" contain></v-img>
        </v-card>
    </v-carousel-item>
</v-carousel>
</template>
  
<script>
export default {
    name: 'ImageCarousel',
    props: {
        images: {
        type: Array,
        required: true
        }
    }
}
</script>

  