<template>
  <div class="d-flex justify-space-between">
    <span
      v-for="{position, link} in links"
      id="outer-span"
      :key="position"
    >
      <NuxtLink
        v-if="link"
        :to="{ path: `${link.dir}/${link.slug}` }"
      >
        <v-card xs4 class="fill-height" elevation="1" style="background: white;">
          <v-card-title
            v-if="position == 'prev'"
            class="ma-0 pa-1"
          >
            Previous:
          </v-card-title>
          <v-card-title
            v-else
            class="ma-0 pa-1"
          >
            Next:
          </v-card-title>
          <v-img
            v-if="link.hero"
            class="white--text align-end hero-title"
            height="150px"
            style="max-width: 600px; brightness: 0.5;"
            :src="`${link.hero}`"
          />
          <v-card-subtitle style="font-weight: bold">
            {{ link.post_title }}
          </v-card-subtitle>
          <v-card-text>
            {{ prettifyDate(link.date) }}
          </v-card-text>
        </v-card>
      </NuxtLink>
      <span v-else>&nbsp;</span>
    </span>
  </div>
</template>

<script>
import Utils from 'assets/utils.js'

export default {
  props: {
    prev: {
      type: Object,
      default: () => null
    },
    next: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      links: [
        {
          position: 'prev',
          link: this.prev
        },
        {
          position: 'next',
          link: this.next
        }
      ]
    }
  },
  methods: {
    prettifyDate (date) {
      return Utils.prettifyDate2(date)
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';

#outer-span {
  width: 40%;
}

a {
  text-decoration: none;
  white-space: pre-wrap;
}

/* a :hover {
  text-decoration: underline;
} */

.hero-title {
  background: #10101050;
  width:100%;
  text-align: center;
  word-wrap: normal;
}

</style>
