<template>
  <a target="_blank" rel="noopener noreferrer" :href="link">
    <slot />
  </a>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      required: true
    }
  },
  methods: {
    externalLink () {
      window.open(this.link, '_blank'); //to open in new tab
    }  
  }
}
</script>