<template>
  <youtube 
    :video-id="videoId" 
    :player-vars="{ accelerometer: 1, 'encrypted-media': 1, gyroscope: 1, autoplay: 0 }"
    fitParent
    resize
  />
</template>

<script>
export default {
  props: {
    videoId: {
      required: true
    }
  }
}
</script>