<template>
  <v-container
    class="fill-height pageContainer"
    fluid
  >
    <v-row align="center" justify="center">
      <v-col xs="12">
        <v-parallax
          v-if="$vuetify.breakpoint.mdAndUp"
          height="400"
          :src="hero"
        />
        <v-img
          v-else
          class="align-center"
          :src="hero"
          height="250"
        />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-col cols="auto" xs="12" justify="start" style="width: 100%; max-width: 900px;">
        <h1
          v-scroll-reveal="{ delay: 0, duration: 1500, origin: 'bottom', distance: '2em' }"
          class="font-weight-regular cursiveText"
          :class="{ 'pageTitleSm': $vuetify.breakpoint.xsOnly,
                    'pageTitleMd': $vuetify.breakpoint.smOnly,
                    'pageTitleLg': $vuetify.breakpoint.mdAndUp }"
        >
          My Projects
        </h1>
        <h1
          v-scroll-reveal="{ delay: 700, duration: 1500, origin: 'right', distance: '2em' }"
          class="font-weight-light"
          :class="{ 'subtitle-1': $vuetify.breakpoint.xsOnly,
                    'title': $vuetify.breakpoint.smOnly,
                    'headline': $vuetify.breakpoint.mdAndUp }"
        >
          See all my current and past projects.
        </h1>
        <div
          v-scroll-reveal="{ delay: 1200, duration: 1500 }"
          class="font-weight-light mt-4"
          :class="{ 'body-2': $vuetify.breakpoint.xsOnly,
                    'subtitle-2': $vuetify.breakpoint.smOnly,
                    'subtitle-1': $vuetify.breakpoint.mdAndUp }"
        >
          <p>
            On this page, I have laid out a timeline that highlights all the interesting projects that I have done
            in my free time, as well as for classwork. These projects are all
            related to my interests, and include topics such as embedded programming,
            computer vision, machine learning, robotics, and more.
          </p>
          <p>
            If a specific item sparks your interest, you may find a link on the project's card that will
            give more detailed information about that project. I will fill these out as I have time,
            but if I haven't written an article about a specific topic, no problem! Feel free to contact me about it.
          </p>
          <p>
            If you're looking instead for an index of all my posts, head
            <nuxt-link to="/posts">
              here
            </nuxt-link>
            .
          </p>
        </div>
        <v-divider />
      </v-col>
    </v-row>
    <v-row xs="12" align="center" justify="center">
      <v-container grid-list-xl class="pa-0">
        <v-row>
          <v-col />
          <v-col cols="auto" xs="12" style="width: 100%; max-width: 1100px;">
            <v-timeline :dense="denseTimeline">
              <v-timeline-item
                v-for="(post, idx) in posts"
                :key="post._id"
                :color="getBW(idx / (posts.length - 1))"
                fill-dot
                small
              >
                <template
                  v-if="!denseTimeline"
                  slot="opposite"
                >
                  <div
                    v-if="post.project_start"
                    :style="{ color: getBW(idx / (posts.length)) }"
                    class="title"
                  >
                    {{ prettifyDate(post.project_start) }} -&nbsp;
                    <template
                      v-if="post.project_end.getTime() !== today.getTime()"
                    >
                      {{ prettifyDate(post.project_end) }}
                    </template>
                    <template
                      v-else
                    >
                      Present
                    </template>
                  </div>
                  <div
                    v-else-if="post.date"
                    :style="{ color: getBW(idx / (posts.length)) }"
                    class="subtitle-1"
                  >
                    {{ prettifyDate(post.date) }}
                  </div>
                </template>
                <v-card
                  :elevation="2"
                >
                  <div
                    class="card-title py-2 px-2"
                    :class="{ 'title': $vuetify.breakpoint.lgAndUp,
                              'subtitle-1': $vuetify.breakpoint.mdAndDown}"
                  >
                    {{ post.project_title }}
                  </div>
                  <template
                    v-if="denseTimeline"
                  >
                    <div
                      v-if="post.project_start"
                      class="subtitle-2 grey--text px-4"
                    >
                      {{ prettifyDate(post.project_start) }} -&nbsp;
                      <template
                        v-if="post.project_end.getTime() !== today.getTime()"
                      >
                        {{ prettifyDate(post.project_end) }}
                      </template>
                      <template
                        v-else
                      >
                        Present
                      </template>
                    </div>
                    <div
                      v-else-if="post.date"
                      class="subtitle-2 grey--text px-4"
                    >
                      {{ prettifyDate(post.date) }}
                    </div>
                  </template>
                  <v-img
                    v-if="post.hero"
                    style="max-width: 100%; max-height: 180px;"
                    :src="`${post.hero}`"
                  >
                    <v-container class="fill-height align-center justify-center hero-title">
                      <v-row align="center" justify="center">
                        <v-col cols="auto" sm="11" class="white--text justify-center">
                          <v-layout wrap justify-center>
                            <template
                              v-if="post.project_desc"
                              class="wrap-text ma-auto"
                            >
                              <p
                                class="font-weight-medium"
                                :class="{ 'body-2': denseTimeline }"
                              >
                                {{ post.project_desc }}
                              </p>
                            </template>
                            <template
                              v-else-if="post.excerpt_desc"
                              class="wrap-text ma-auto"
                            >
                              <p class="font-weight-medium">
                                {{ post.excerpt_desc }}
                              </p>
                            </template>
                            <v-btn
                              v-if="post.path && post.project_link"
                              raised
                              :small="denseTimeline"
                              :to="post.path"
                              nuxt
                            >
                              Read More
                            </v-btn>
                          </v-layout>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-img>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-col>
          <v-col />
        </v-row>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import Utils from '~/assets/utils.js'
import Head from '~/assets/head.js'

export default {
  mixins: [Head.titleMixin],
  async asyncData ({ $content }) {
    const today = new Date()
    today.setHours(0, 0, 0, 0)

    let allPosts = await $content('posts', { deep: true })
      .only(['project_title', 'dir', 'slug', 'date', 'hero', 'path', 'project_desc', 'excerpt_desc', 'project_end', 'project_start', 'project_link'])
      .fetch()

    allPosts.map((post) => {
      if (!post.date) {
        post.date = new Date(0)
      }
      post.color = Utils.getRandColor()
      if (!post.project_end) {
        post.project_end = today
      } else {
        post.project_end = new Date(post.project_end)
        post.project_end.setHours(0, 0, 0, 0)
      }

      if (post.project_start) {
        post.project_start = new Date(post.project_start)
        post.project_start.setHours(0, 0, 0, 0)
      }
      return post
    })

    allPosts = allPosts.filter(post => post.project_title)
    allPosts.sort((a, b) => (a.project_end > b.project_end ? 1 : -1))
    return {
      today,
      posts: allPosts.reverse(),
      title: 'My Projects',
      description: 'A timeline portfolio of all my projects.'
    }
  },
  data () {
    return {
      hero: '/images/posts/projects/pytorch_code_blur.png'
    }
  },
  computed: {
    denseTimeline () {
      return this.$vuetify.breakpoint.smAndDown
    }
  },
  methods: {
    // Random color generation from here: http://blog.adamcole.ca/2011/11/simple-javascript-rainbow-color.html
    getRandColor () {
      return Utils.getRandColor()
    },
    getBW (v) {
      v = v * 0.65 + 0.35
      return Utils.bwStop(v)
    },
    prettifyDate (date) {
      return Utils.prettifyDate2(date)
    }
  }
}
</script>

<style scoped>
@import 'assets/main.css';

.hero {
  filter: brightness(0.5);
}

.hero-title {
   background: #10101070;
   overflow-y: auto;
}

.clear-box {
  z-index: 1;
  background: rgb(0.2, 0.2, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

.card-title {
  width:100%;
  text-align: center;
  word-wrap: normal;
}

</style>
